body{
    background-color: aqua;
}

.foto3{
    width: 100%;
    border-radius: 50px;
}




@media screen and (min-width: 1024px){
    .foto3{
        width: 50%;
    }
}


@media screen and (min-width: 1700px){
    
}