body{
    background-color: aqua;
}

.foto3{
    width: 100%;
    border-radius: 50px;
}

.fundo1{
    background-image: url(./Fundo\ 1.png);
    background-size: 63%;
    height: 677px;
    background-repeat: no-repeat;
    margin-left: 482px;
}


@media screen and (min-width: 1024px){
    .foto3{
        width: 50%;
    }
}


@media screen and (min-width: 1700px){
    
}